.input-time{
  width: -webkit-fill-available;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 10px;
}

.designer-capacity-container{
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  justify-content: center;
}